<div class="col-xs-12 text-center" id="footer">
  <ul class="list-inline">
    <li><a href=""><i class="fa fa-youtube"></i></a></li>
    <li><a href=""><i class="fa fa-instagram"></i></a></li>
    <li><a href=""><i class="fa fa-facebook"></i></a></li>
    <li><a href=""><i class="fa fa-twitter"></i></a></li>
  </ul>

  © 2015 - OCTOPUS - Beirut, Lebanon, Tel: 00961 1 123456
</div>
